<%= render 'places/page_title' %>
<%= render 'places/filter_bar' %>

<!-- PAGE CONTENT -->
<section class="mainContentSection packagesSection">
  <div class="container">
    <div class="row">
      <%= render 'places/index_sitebar'%>
          <!-- PLACES CONTENT -->
      <div class="col-sm-9 col-xs-12">
        <div class="row">
          <ul class="nav nav-tabs panel-heading">
            <li class="active"><a href="#"><strong>Nearby Places</strong></a></li> 
            <li><a href="#"><strong>Popular Places</strong></a></li> 
            <li><a href="#"><strong>Saved Places</strong></a></li> 
          </ul>
          <%= render 'places/places', places: @places %>
        </div>
      </div>
       <!--END PLACES CONTENT -->
    </div>
      <%= render 'places/kaminari'%>
  </div>
</section>


